body {
    font-family: sorts-mill-goudy,serif;
    color: #737373;
    /* padding-top: 100px; */
    
}

h2 {
    font-family: 'Italianno', cursive;
    font-weight: lighter;
    /* padding-top: 100px; */
}

/* .pt-6 {
    padding-top: 150px;
} */

/* ---------  NAV BAR --------- */

#logo-main {
    display: block;
    margin: auto;
  }

.top-logo {
    background-color: white;
}

.nav-item {
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar {
    width: 70%;
    margin: auto auto 15px auto;
    border-bottom: 1px solid #cccccc;
}

/* ---------  JUMBOTRON --------- */

.jumbotron {
    background-position: center;
    background-color: white;
    background-size: cover;
    padding-top: 150px;
}

.card {
    border-radius: 0;
    border: none;
}

.card-img-top {
    border-radius: 0;
    border: none;
}

.col-md-4 {
    padding: 0 5px;
}

/* ---------  SERVICES  --------- */
h4 {
    text-transform: uppercase;
    color: rgba(0,0,0,.3);
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
}

.btn-outline-success {
    color: #fff;
    background-color: #c2c2d6;
    border-color: #9494b8;
}

  
.btn-outline-success:hover {
    color: #fff;
    background-color: #9494b8;
    border-color: #9494b8;
}

.btn-outline-success:focus, 
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 194, 214, 0.5);
}

.btn-outline-success.disabled, 
.btn-outline-success:disabled {
    color: #c2c2d6;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, 
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #c2c2d6;
  border-color: #c2c2d6;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, 
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 194, 214, 0.5);
}


.btn-primary {
    color: #fff;
    background-color: #c2c2d6;
    border-color: #9494b8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c2c2d6;
    border-color: #9494b8;
}

.btn-primary:focus, 
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(194, 194, 214, 0.5);
  }
  

.btn-primary.disabled, 
.btn-primary:disabled {
    color: #fff;
    background-color: #c2c2d6;
    border-color: #9494b8;
}

.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #c2c2d6;
    border-color: #9494b8;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(194, 194, 214, 0.5);
}

/* -------- MODAL SECTION ---------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 100px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    border-radius: 0;
}

.modal-header {
    text-align: center;
    margin: auto;
}

.modal-footer {
    text-align: center;
    margin: auto;
}

.modal-btn {

    background: #c2c2d6;
    border-color: #9494b8;
    padding: 5px 10px;
    display: inline-block;
}

.modal-btn:hover{
    background-color: #9494b8;
    border-color: #9494b8;
}

/* The Close Button */
.closeOne, .closeTwo, .closeThree {
    /* color: #aaa; */
    color: white;
    float: right;
    /* font-size: 28px; */
    /* font-weight: bold; */
}

.closeOne:hover,
.closeOne:focus {
color: white;
text-decoration: none;
cursor: pointer;
}

.closeTwo:hover,
.closeTwo:focus {
/* color: #737373; */
color: white;
text-decoration: none;
cursor: pointer;
}

.closeThree:hover,
.closeThree:focus {
color: white;
text-decoration: none;
cursor: pointer;
}

.modal-header h2 {
    color: black;
}

span {
    text-transform: uppercase;
}

/* ---------  GALLERY  --------- */
#gallery {
    background-position: center;
    background-image: url("img/gallery-background2.jpg");
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 90px;
    /* height: 70vh;
    width: 100%; */
}

.insta-link {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #b3b3b3;
}

.insta-link > a:link {
    color: #b3b3b3;
    background-color: transparent; 
    text-decoration: none;
  }
  
  .insta-link > a:visited {
    color: #b3b3b3;
    background-color: transparent;
    text-decoration: none;
  }
  
  .insta-link > a:hover {
    color: #cccccc;
    background-color: transparent;
    text-decoration: none;
  }
  
  .insta-link > a:active {
    color: #b3b3b3;
    background-color: transparent;
    text-decoration: none;
  }

/* ---------  TESTIMONIALS  --------- */
#testimonials {
    height: 60vh;
    margin: auto;
}

#testimonials > h2 {
    font-size: 3rem;
}

.carousel-item {
    height: 40vh;
    /* padding-top: 4rem; */
    padding: 4rem 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-prev-icon {
    padding-right: 3rem;
}

.carousel-control-next-icon {
    padding-left: 3rem;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 35px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 35px;
  color: black;
}

.carousel-indicators {
    padding-top: 2rem;
}

.carousel-indicators li {
    width: 10px;
   /* height: 10px;
    border-radius: 100%;  */
    background-color: black;
  }

.li[aria-hidden='true'] { 
    display: none; 
}

.li[aria-hidden='false'] { 
    display: block; 
}

/* ---------  CONTACT  --------- */
#contact {
    background-color: #f2f2f2;
}

.btn-primary {
    color: #fff;
    background-color: #c2c2d6;
    border-color: #9494b8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #9494b8;
    border-color: #9494b8;
}

@media screen and (min-width: 700px) {
    .nav-item {
        font-size: 0.75rem;
    }

    .jumbotron {
        height: 70vh;
    }

    h4 {
        font-size: 1.4rem;
    }
    /* #testimonials {
        height: 60vh;
    } */
    #testimonials > h2 {
        font-size: 72px;
    }
    .carousel-indicators {
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .modal-list {
        margin: auto;
        width: 30%;
    }
    
}



@media screen and (min-width: 870px) {
    .nav-item {
        font-size: 1rem;
    }

    .jumbotron {
        height: 100vh;
    }
    .modal {
        margin-top: 0px;
    }
    /* #testimonials {
        height: 60vh;
    } */
}

