h2 {
    font-family: 'Italianno', cursive;
    font-weight: lighter;
}

/* ---------  NAV BAR --------- */

#logo-main {
    display: block;
    margin: 5px auto;
  }

.top-logo {
    background-color: white;
}

.nav-item {
    text-transform: uppercase;
}

.navbar {
    width: 70%;
    margin: auto auto 15px auto;
    border-bottom: 1px solid #cccccc;
}
/* ---------  JUMBOTRON --------- */

.jumbotron {
    background-position: center;
    background-color: white;
    background-size: cover;
    height: 100vh;
    padding-top: 175px;
}

.card {
    border-radius: 0;
    border: none;
}

.card-img-top {
    border-radius: 0;
    border: none;
}

.col-md-4 {
    padding: 0 5px;
}

/* ---------  SERVICES  --------- */

.btn {
    border-radius: 0;
    text-transform: uppercase;
}

.btn-outline-success {
    color: #fff;
    /* background-color: #9494b8; */
    background-color: #c2c2d6;
    border-color: #9494b8;
  }
  
.btn-outline-success:hover {
    color: #fff;
    background-color: #9494b8;
    border-color: #9494b8;
  }

/* ---------  TESTIMONIALS  --------- */

.carousel {
    width: 70%;
    margin: auto;
    background-position: center;
    background-color: white;
    background-size: cover;
}

.carousel-caption {
    padding-bottom: 100px;
}

.carousel-caption p {
    color: black;
}

h5 {
    color: black;
}

/* ---------  CONTACT  --------- */
#contact {
    background-color: #f2f2f2;
}

.btn-primary {
    color: #fff;
    background-color: #c2c2d6;
    border-color: #9494b8;
}

.btn-primary:hover {
    color: #fff;
    background-color: #9494b8;
    border-color: #9494b8;
}

.testimonials {
    overflow: hidden;
    position: relative;
    max-height: 300px;
  }
  
  .testimonials {
    background: #161d25;
  }
  
  .one-slide,
  .testimonial,
  .message {
    border: none !important;
    outline: none !important;
  }
  
  .icon-overlay {
    position: absolute;
    opacity: 0.3;
    right: 10%;
    top: 0;
    height: auto;
    width: 100%;
    max-width: 400px;
  }
  
  .carousel-controls .control {
    position: absolute;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 1;
  }
  
  .prev {
    left: -2.25rem;
  }
  
  .next {
    right: -2.25rem;
  }
  
  @media screen and (max-width: 768px) {
    .testimonials {
      max-height: 700px;
    }
    .icon-overlay {
      height: 300px;
      top: calc(50% - 150px);
    }
    .carousel-controls .control {
      width: 25px;
      height: 25px;
      top: inherit;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .control i {
      font-size: .7rem;
    }
    .testimonials .message {
      font-size: 1rem;
    }
    .testimonials h2 {
      font-size: 1.5rem;
    }
  }
